*.ilg
*.class
*.aux
*.exitCode
*.idx
*.ind
*.log
*.out
*.rai
*.rao
*.sh
*.stderr
*.stdout
*.toc
*.lol
*.lof
*.lot
.DS_Store
build.number
build/
package/
documentation/njpipes/*.java
documentation/njpipes/*.java
documentation/nrl/*.java
documentation/pg/*.java
documentation/ug/*.java
*.pdf
