*.ilg
*.class
*.aux
*.exitCode
*.idx
*.ind
*.log
*.out
*.rai
*.rao
*.sh
*.stderr
*.stdout
*.toc
*.lol
*.lof
*.lot
*.njp~
*.nrx~
.DS_Store
build.number
build/
package/
documentation/njpipes/*.java
documentation/njpipes/*.java
documentation/nrl/*.java
documentation/pg/*.java
documentation/ug/*.java
documentation/njpipes/tex/*
documentation/nrl/tex/*
documentation/ug/tex/*
documentation/pg/tex/*
*.pdf
nrws.history
*.md~

